# Supto.dev - Frontend Environment Variables

# The URL of your deployed backend API
NEXT_PUBLIC_API_URL=https://supto-dot-dev-server.vercel.app

# Firebase Public Config
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSy...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=supto-dev.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=supto-dev
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=supto-dev.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1057455148084
NEXT_PUBLIC_FIREBASE_APP_ID=1:1057455148084:web:7e8bb86b170f8054b98e61
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-XGQW0W68MZ
